.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #002147;
    padding: 1em;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 1em;

    & a {
        color: white;
        text-decoration: none;

        &:hover {
            color: #FFBB33;
        }
    }
}